

body {
    background-image: url('../resources/fondo3.png'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    overflow-y: hidden;
    height: 100vh; 
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

main {
    margin-top: 100px;
}

h1{
    font-size: 45px;
}

/*Barra control audio*/
audio {
    width: 100%; 
    max-width: 400px; 
    margin: 0 auto;
    display: block;
}
/*Barra de navegacion*/
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #993737; 
    padding: 0px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}

.nav-links {
    display: flex;
    list-style: none;
}

.nav-links li {
    margin: 0 10px; 
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: #c17a7a; 
}

.auth-buttons {
    display: flex;
    gap: 10px;
    margin-right: 10px;
}

.auth-buttons button {
    background-color: #868477;
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
}

.auth-buttons button:hover {
    background-color: #4e4d44; 
}


.menu-perfil {
    position: relative;
    display: none;
    top: 0;
    left: -80px;
}

.menu-perfil img {
    width:auto;
    height:50px;
    border-radius: 50%;
    border: 2px solid #000;
    transition: transform 0.2s;
    left: px;
}

.menu-perfil:hover .desplegable {
    display:block;
}

.desplegable {
    display: none;
    position: absolute;
    top: 53px;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    z-index: 9999;
    min-width: 200px;
}

.desplegable a {
    text-decoration: none;
    color: white;
    background-color: #993737; 
    padding: 12px 16px;
    display: block;
    text-align: center; 
    border: 2px solid white; 
    transition: background-color 0.2s;
}

.desplegable a:hover {
    background-color: #792929; 
    color: white;
}

.foto_audiocuento{
    width: 150px;
    height: auto;
    margin-top: 40px;
    margin-bottom: 90px;
}

.boton-atras {
    position: fixed;
    top: 70px;
    left: 20px;
    display: inline-flex; 
    align-items: center; 
  }
  
  .boton-atras a {
    font-size: 25px;
    text-decoration: none;
    color: white;
    display: inline-flex; 
    align-items: center; 
  }
  
  .boton-atras img {
    margin-right: 8px; 
    height: 25px; 
  }
