

body {
    background-image: url('../resources/fondo3.png'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    overflow-y: hidden;
    height: 100vh; 
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

main {
    margin-top: 100px;
}

h1{
    font-size: 45px;
}

audio {
    width: 100%; 
    max-width: 400px; 
    margin: 0 auto;
    display: block;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #993737; 
    padding: 0px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra */
}

/*Estilos enlaces barra*/
.nav-links {
    display: flex;
    list-style: none;
}

.nav-links li {
    margin: 0 10px; /* Espaciado entre enlaces */
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: #c17a7a; /* Color de texto al pasar el ratón */
}

.foto_audiocuento{
    width: 150px;
    height: auto;
    margin-top: 40px;
    margin-bottom: 90px;
}

.auth-buttons {
    display: flex;
    gap: 10px;
    margin-right: 10px;
}

.auth-buttons button {
    background-color: #868477;
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
}

.auth-buttons button:hover {
    background-color: #4e4d44; /* Color al pasar el ratón */
}

.boton-atras {
    position: fixed;
    top: 70px;
    left: 20px;
    display: inline-flex; /* Para alinear elementos en una fila */
    align-items: center; /* Centrar verticalmente */
  }
  
  .boton-atras a {
    font-size: 25px;
    text-decoration: none;
    color: white;
    display: inline-flex; /* Asegura que los elementos dentro también usen flexbox */
    align-items: center; /* Centrar verticalmente el texto e imagen */
  }
  
  .boton-atras img {
    margin-right: 8px; /* Espacio entre la imagen y el texto */
    height: 25px; /* Ajusta la altura de la imagen */
  }

