
h1{
    font-size: 45px;
    margin-bottom: 10px;
}

h3{
    font-size: 30px;
}

main{
    margin-top: 50px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: white;
    overflow-y: hidden;
    background-image: url('../resources/fondo3.png'); 
    background-size: cover; 
    background-position: center; 
}

.fila {
    display: flex;
    justify-content: center;
    gap: 120px; 
    margin-bottom: 20px; 
}

.cuento, .audiocuento {
    text-align: center;
}

a img {
    width: 100px; 
    height: auto;
    transition: transform 0.3s, box-shadow 0.3s; 
}

a img:hover {
    transform: scale(1.1); /* Aumenta ligeramente el tamaño al pasar el cursor */

}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #993737; 
    padding: 0px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra */
}

/*Estilos enlaces barra*/
.nav-links {
    display: flex;
    list-style: none;
}

.nav-links li {
    margin: 0 10px; /* Espaciado entre enlaces */
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: #c17a7a; /* Color de texto al pasar el ratón */
}

.auth-buttons {
    display: flex;
    gap: 10px;
    margin-right: 10px;
}

.auth-buttons button {
    background-color: #868477;
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
}

.auth-buttons button:hover {
    background-color: #4e4d44; /* Color al pasar el ratón */
}


