
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background: url('../resources/navidad-bg.jpg') no-repeat center center fixed;
    background-size: cover;
    color: #fff;
	box-sizing: border-box;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #993737; 
    padding: 0px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra */
}

/*Estilos enlaces barra*/
.nav-links {
    display: flex;
    list-style: none;
}

.nav-links li {
    margin: 0 10px; /* Espaciado entre enlaces */
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: #c17a7a; /* Color de texto al pasar el ratón */
}

/*Estilos botones autenticacion*/
.auth-buttons {
    display: flex;
    gap: 10px;
    margin-right: 10px;
}

.auth-buttons button {
    background-color: #868477;
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
}

.auth-buttons button:hover {
    background-color: #4e4d44; /* Color al pasar el ratón */
}

main {
    text-align: center;
    padding: 20px;
}

#game-section {
    background: rgba(128, 0, 0, 0.8);
    padding: 20px;
    border-radius: 15px;
    display: inline-block;
    box-shadow: 0 0 20px rgba(128, 0, 0, 0.8);
    border: 5px solid #FFD700;
    position: relative;
    overflow: hidden;
}

#game-section:before, #game-section:after {
    content: "";
    position: absolute;
    width: 50px;
    height: 50px;
    background: url('../resources/holly.png') no-repeat center center;
    background-size: contain;
}

#game-section:before {
    top: -10px;
    left: -10px;
}

#game-section:after {
    bottom: -10px;
    right: -10px;
}

h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #FFD700;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

#tic-tac-toe {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-gap: 10px;
    margin: 20px auto;
}

#tic-tac-toe div {
    width: 100px;
    height: 100px;
    background: rgba(255, 255, 255, 0.9);
    border: 3px solid #FFD700;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
    font-weight: bold;
    color: #800000;
    box-shadow: 0 0 10px rgba(128, 0, 0, 0.5);
    cursor: pointer;
    transition: transform 0.3s, box-shadow 0.3s;
}

#tic-tac-toe div:hover {
    transform: scale(1.1);
    box-shadow: 0 0 15px rgba(255, 215, 0, 0.8);
}

footer {
    margin-top: 20px;
    text-align: center;
    background: rgba(128, 0, 0, 0.9);
    padding: 10px 0;
}

footer p {
    margin: 0;
    color: #fff;
    font-size: 0.9em;
}
